---
layout: page
---
<div class="post">
  <article>
  <div class="container mb-5">

       <div class="row mb-5 pb-4 border-bottom border-2">
        <div class="col-md-3">
            <h4>PI's</h4>
        </div>

        <div class="col-md-12">
            <div class="row">
                <div class="col-6 col-md-4 fs-sm">
                    <img class="card-img-top" src="{{ './assets/img/xhuang7-big.jpg' | relative_url }}" alt="Card image cap">
<h5 class="mt-2">
    Xiaolei Huang
</h5>
<p>
    University of Memphis<br>
    Computer Science Dept.<br>
    <center><a href="https://www.memphis.edu/cs/people/faculty_pages/xiaolei-huang.php" class="btn btn-primary center">Profile</a></center>
</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-5 pb-4 border-bottom border-2">
        <div class="col-md-3">
            <h4>Co-PI's</h4>
        </div>

        <div class="col-md-12">
            <div class="row">
                <div class="col-6 col-md-4 fs-sm">
<img class="card-img-top" src="{{ './assets/img/vrus-big.jpg' | relative_url }}" alt="Card image cap">
<h5 class="mt-2">
    Vasile Rus, PhD
</h5>
<p>
    University of Memphis <br>
    Computer Science Dept. <br>
    <center><a href="https://www.memphis.edu/cs/people/faculty_pages/vasile-rus.php" class="btn btn-primary center">Profile</a></center>
</p>
                </div>
                <div class="col-6 col-md-4 fs-sm">
<img class="card-img-top" src="{{ './assets/img/santosh_kumar.jpg' | relative_url }}" alt="Card image cap">
<h5 class="mt-2">
    Santosh Kumar, PhD
</h5>
<p>
    University of Memphis<br>
    Computer Science Dept<br>
    <center><a href="https://www.memphis.edu/cs/people/faculty_pages/santosh-kumar.php" class="btn btn-primary center">Profile</a></center>
</p>
                </div>
                <div class="col-6 col-md-4 fs-sm">
<img class="card-img-top" src="{{ './assets/img/mckenna.jpg' | relative_url }}" alt="Card image cap">
<h5 class="mt-2">
    Duane Mckenna, PhD
</h5>
<p>
    University of Memphis<br>
    Biology Dept<br>

    <center><a href="https://www.memphis.edu/biology/people/faculty/duane-mckenna.php" class="btn btn-primary center">Profile</a></center>
</p>
                </div>
            </div>
        </div>
    </div>


    <div class="row mb-5 pb-4 border-bottom border-2">
        <div class="col-md-3">
            <h3>Co-PI's</h3>
        </div>

        <div class="col-md-12">
            <div class="row">
                
                <div class="col-6 col-md-4 fs-sm">
<img class="card-img-top" src="{{ './assets/img/preza.png' | relative_url }}" alt="Card image cap">
<h5 class="mt-2">
    Chrysanthe Preza, D.Sc.
</h5>
<p>
    University of Memphis<br>
    EECE Dept.<br>
    <center><a href="https://www.memphis.edu/cirl/" class="btn btn-primary center">Profile</a></center>
</p>
                </div>
                
                <div class="col-6 col-md-4 fs-sm">
<img class="card-img-top" src="{{ './assets/img/lanwang-big.jpg' | relative_url }}" alt="Card image cap">
<h5 class="mt-2">
    Lan Wang, PhD
</h5>
<p>
    University of Memphis<br>
    Computer Science Dept<br>
      <center><a class="btn btn-primary center" href="https://www.memphis.edu/cs/people/faculty_pages/lan-wang.php">Profile</a></center>
</p>
                </div>

                <div class="col-6 col-md-4 fs-sm">
<img class="card-img-top" src="{{ './assets/img/ana_doblas2019.jpg' | relative_url }}" alt="Card image cap">
<h5 class="mt-2">
    Ana Doblas, PhD
</h5>
<p>
    <!-- Department of AI and Informatics<br> -->
    UMass Dartmouth<br>
    EECE Dept<br>
    <center><a href="https://www.umassd.edu/directory/adoblas/" class="btn btn-primary center">Profile</a></center>
</p>
                </div>
            </div> 
        </div>
    </div>


    <div class="row mb-5 pb-4 border-bottom border-2">
        <div class="col-md-3">
            <h3>Student Assistants</h3>
        </div>

        <div class="col-md-12">
            <div class="row">
                
                <div class="col-6 col-md-4 fs-sm">
                     <img class="card-img-top" src="https://raw.githubusercontent.com/itiger-cluster/itiger-cluster.github.io/master/assets/img/han.jpg" alt="Card image cap">
<h5 class="mt-2">
    Guangzeng Han
</h5>
<p>
    University of Memphis <br>
    Computer Science PhD Student<br>
</p>
                </div>
                <div class="col-6 col-md-4 fs-sm">
                    <img class="card-img-top" src="https://raw.githubusercontent.com/itiger-cluster/itiger-cluster.github.io/master/assets/img/liu.jpg" alt="Card image cap">
<h5 class="mt-2">
    Weisi Liu
</h5>
<p>
    University of Memphis<br>
    Computer Science PhD Student<br>
    
</p>
                </div>
                <div class="col-6 col-md-4 fs-sm">
                    <img class="card-img-top" src="https://raw.githubusercontent.com/itiger-cluster/itiger-cluster.github.io/master/assets/img/mayira.jpg" alt="Card image cap">
<h5 class="mt-2">
    Mayira Sharif
</h5>
<p>
    University of Memphis<br>
    Computer Science Undergraduate <br>
</p>
                </div>
            </div> 
        </div>
    </div>
</div>
    {% if page.profiles %}
      {% for profile in page.profiles %}
        <hr>
        <div class="profile float-{% if profile.align == 'left' %}left{% else %}right{% endif %}">
          {% if profile.image %}
            {% assign profile_image_path = profile.image | prepend: 'assets/img/' %}
            {% if profile.image_circular %}
              {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
            {% else %}
              {% assign profile_image_class = 'img-fluid z-depth-1 rounded' %}
            {% endif %}
            {% capture sizes %}(min-width: {{site.max_width}}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px) 30vw, 95vw"{% endcapture %}
            {% include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=profile.image %}
          {% endif %}
          {% if profile.more_info %}
            <div class="more-info">{{ profile.more_info }}</div>
          {% endif %}
        </div>

        <div class="clearfix">
          {% if profile.content %}
            {% capture profile_content %}{% include_relative {{ profile.content }} %}{% endcapture %}
            {{ profile_content | markdownify }}
          {% else %}
            {{ content }}
          {% endif %}
        </div>
      {% endfor %}
    {% endif %}
  </article>

  <hr/>
  
  <h2>IT Professionals</h2>
    <ul>
    <li>Karen A Bell, Chief Info Officer • CIO Information Technology Services</li>
    <li>Roy A Passman, Dir Enterprise Infra Services • Enterprise Infrastructure Services</li>
    <li>Kristian Skjervold, Assoc Dir Research Computing • Research Computing</li>
    <li>Eric John Spangler, System Administrator • Research Computing</li>
    </ul>
  <hr/>
  <h2>Collaborating Institutions</h2>
<div class="container px-5 py-5"> 
    <div class="row"> 
      <div class="col mx-1"><img src="https://raw.githubusercontent.com/itiger-cluster/itiger-cluster.github.io/master/assets/img/mstate.png" class="img-fluid"></div> 
      <div class="col mx-1"><img src="https://raw.githubusercontent.com/itiger-cluster/itiger-cluster.github.io/master/assets/img/aku.png" class="img-fluid"></div> 
      <div class="col mx-1"><img src="https://raw.githubusercontent.com/itiger-cluster/itiger-cluster.github.io/master/assets/img/LeMoyne-Owens-Seal.jpg" width="180px" class="img-fluid"></div> 
      <div class="col mx-1"><img src="https://raw.githubusercontent.com/itiger-cluster/itiger-cluster.github.io/master/assets/img/RustCollegeSeal.jpg" class="img-fluid"></div> 
    </div>
    <hr/>
    <div class="row"> 
      <div class="col mx-1"><img src="https://raw.githubusercontent.com/itiger-cluster/itiger-cluster.github.io/master/assets/img/umiss.png" class="img-fluid"></div> 
      <div class="col mx-1"><img src="https://raw.githubusercontent.com/itiger-cluster/itiger-cluster.github.io/master/assets/img/uarkansas.png" class="img-fluid"></div> 
      <div class="col mx-1"><img src="https://raw.githubusercontent.com/itiger-cluster/itiger-cluster.github.io/master/assets/img/uthsc.jpg" class="img-fluid"></div> 
      <div class="col mx-1"><img src="https://raw.githubusercontent.com/itiger-cluster/itiger-cluster.github.io/master/assets/img/fedex.png" class="img-fluid"></div> 
    </div> 
  </div>
</div>
