---
layout: page
---
<div class="post">
  <article>
    {% if page.profiles %}
      {% for profile in page.profiles %}
        <hr>
        <div class="profile float-{% if profile.align == 'left' %}left{% else %}right{% endif %}">
          {% if profile.image %}
            {% assign profile_image_path = profile.image | prepend: 'assets/img/' %}
            {% if profile.image_circular %}
              {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
            {% else %}
              {% assign profile_image_class = 'img-fluid z-depth-1 rounded' %}
            {% endif %}
            {% capture sizes %}(min-width: {{site.max_width}}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px) 30vw, 95vw"{% endcapture %}
            {% include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=profile.image %}
          {% endif %}
          {% if profile.more_info %}
            <div class="more-info">{{ profile.more_info }}</div>
          {% endif %}
        </div>

        <div class="clearfix">
          {% if profile.content %}
            {% capture profile_content %}{% include_relative {{ profile.content }} %}{% endcapture %}
            {{ profile_content | markdownify }}
          {% else %}
            {{ content }}
          {% endif %}
        </div>
      {% endfor %}
    {% endif %}
  </article>
  <hr/>
  <h2>Assistants</h2>
  <p><strong>IT Support</strong>:
    <ul>
    <li>Karen A Bell, Chief Info Officer • CIO Information Technology Services</li>
    <li>Roy A Passman, Dir Enterprise Infra Services • Enterprise Infrastructure Services</li>
    <li>Kristian Skjervold, Assoc Dir Research Computing • Research Computing</li>
    <li>Eric John Spangler, System Administrator • Research Computing</li>
    </ul>
  <p><strong>Student Assistants</strong></p>
    <ul>
    <li> Guangzeng Han (Phd)</li>
    <li> Weisi Liu (Phd)</li>
    <li> Mayira Sharif (Undergraduate)</li>
    </ul>
  <hr/>
  <h2>Collaborating Institutions</h2>
  <div class="container px-5 py-5"> 
    <div class="row"> 
      <div class="col mx-1"><img src="https://nsf.widen.net/content/txvhzmsofh/png/NSF_Official_logo_High_Res_1200ppi?u=rpch1x&position=c&quality=80" class="img-fluid"></div> 
      <div class="col mx-1"><img src="https://www.logolynx.com/images/logolynx/c5/c5360517be3b8cfc630b81b934f29400.png" class="img-fluid"></div> 
      <div class="col mx-1"><img src="https://www.emergency-management-degree.org/wp-content/uploads/2019/02/arkansas-state-university-1024x799.png" class="img-fluid"></div> 
      <div class="col mx-1"><img src="https://www.uncf.org/wp-content/uploads/member_colleges/LeMoyne-Owens-Seal.jpg" class="img-fluid"></div> 
      <div class="col mx-1"><img src="https://lh3.googleusercontent.com/sHsCpoUPkMt-nephPrd8SGGd_5z_YfWhsYZpri4NCM7Q-upBD3PCKxvuAwGoTzKSVoA92jh2YY2GIoXtBU6kvYGtVj0oPjEmO0265nLy5_won2qHeQ_PaJjRVdaLFX6g7W6bg_QEKDsnWHTCWw" class="img-fluid"></div> 
    </div>
    <hr/>
    <div class="row"> 
      <div class="col mx-1"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/b/b5/University_of_Mississippi_seal.svg/1200px-University_of_Mississippi_seal.svg.png" class="img-fluid"></div> 
      <div class="col mx-1"><img src="https://applyundergrad-uark-edu.cdn.technolutions.net/images/logo-on-red.png" class="img-fluid"></div> 
      <div class="col mx-1"><img src="https://yt3.ggpht.com/a/AATXAJw0Ty_EVkjA1JJZrsJmyk9Yi_twDaYLfYQyYg=s900-c-k-c0xffffffff-no-rj-mo" class="img-fluid"></div> 
      <div class="col mx-1"><img src="https://myareanetwork-photos.s3.amazonaws.com/bizlist_photos/t/224804_1510832047.png?0" class="img-fluid"></div> 
      <div class="col mx-1"><img src="https://trust-nlp.github.io/assets/img/fedexlogo.webp" class="img-fluid"></div> 
    </div> 
  </div>
</div>
