---
layout: page
---
<div class="post">
  <article>
    {% if page.profiles %}
      {% for profile in page.profiles %}
        <hr>
        <div class="profile float-{% if profile.align == 'left' %}left{% else %}right{% endif %}">
          {% if profile.image %}
            {% assign profile_image_path = profile.image | prepend: 'assets/img/' %}
            {% if profile.image_circular %}
              {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
            {% else %}
              {% assign profile_image_class = 'img-fluid z-depth-1 rounded' %}
            {% endif %}
            {% capture sizes %}(min-width: {{site.max_width}}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px) 30vw, 95vw"{% endcapture %}
            {% include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=profile.image %}
          {% endif %}
          {% if profile.more_info %}
            <div class="more-info">{{ profile.more_info }}</div>
          {% endif %}
        </div>

        <div class="clearfix">
          {% if profile.content %}
            {% capture profile_content %}{% include_relative {{ profile.content }} %}{% endcapture %}
            {{ profile_content | markdownify }}
          {% else %}
            {{ content }}
          {% endif %}
        </div>
      {% endfor %}
    {% endif %}
  </article>
  <hr/>
  <h2>Assistants</h2>
  <p><strong>IT Support</strong>:
    <ul>
    <li>Karen A Bell, Chief Info Officer • CIO Information Technology Services</li>
    <li>Roy A Passman, Dir Enterprise Infra Services • Enterprise Infrastructure Services</li>
    <li>Kristian Skjervold, Assoc Dir Research Computing • Research Computing</li>
    <li>Eric John Spangler, System Administrator • Research Computing</li>
    </ul>
  <p><strong>Student Assistants</strong></p>
    <ul>
    <li> Guangzeng Han (Phd)</li>
    <li> Weisi Liu (Phd)</li>
    <li> Mayira Sharif (Undergraduate)</li>
    </ul>
  <hr/>
  <h2>Collaborating Institutions</h2>
  <div class="container px-5 py-5"> 
    <div class="row"> 
      <div class="col mx-1 bg-success"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/b/b5/University_of_Mississippi_seal.svg/1200px-University_of_Mississippi_seal.svg.png" class="img-fluid"></div> 
      <div class="col mx-1 bg-success">2</div> 
      <div class="col mx-1 bg-success">3</div> 
      <div class="col mx-1 bg-success">4</div> 
      <div class="col mx-1 bg-success">5</div> 
    </div>
    <hr/>
    <div class="row"> 
      <div class="col mx-1 bg-success"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/b/b5/University_of_Mississippi_seal.svg/1200px-University_of_Mississippi_seal.svg.png" class="img-fluid"></div> 
      <div class="col mx-1 bg-success">2</div> 
      <div class="col mx-1 bg-success">3</div> 
      <div class="col mx-1 bg-success">4</div> 
      <div class="col mx-1 bg-success">5</div> 
    </div> 
  </div>
</div>
